.Home {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 2rem;
  height: 100vh;
  max-width: 80%;
}

.home-title,
.home-subtitle {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.home-title {
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

.home-subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* BUTTONS */

.home-button {
  margin-bottom: 1.25rem;
  padding: 0;
  width: 150px;
  height: 2rem;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-shadow: 0.5px 0.5px black;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.home-button:hover,
.home-button:focus {
  border: 2px solid white;
}

.home-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.home-button a:hover,
.home-button a:focus {
  color: white;
}
