.App {
  background-image: url("https://c0.wallpaperflare.com/preview/813/272/896/united-states-sonoma-county-vinyard-clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
