*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light: #f2e5d5;
  --clr-light-95: rgba(242, 229, 213, 0.95);
  --clr-light-80: rgba(242, 229, 213, 0.8);
  --clr-bright: #a0ccf2;
  --clr-dark: #6b90bf;
  --clr-primary: #3c6aa6;
  --clr-secondary: #70731d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

.section-container {
  padding: 2rem 7.5% 0;
  height: 100vh;
  width: 100%;
  background: white;
}

.section-title,
.section-description {
  max-width: 900px;
}

.section-title {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--clr-secondary);
  border-bottom: 2px solid black;
}

.section-description {
  margin: 1.5rem auto 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section-container {
    padding: 2rem 10% 0;
  }

  .section-title {
    margin: 0 auto;
  }

  .section-description {
    padding: 0 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .section-container {
    margin-left: 300px;
    padding-left: 50px;
  }
}
